tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;}
.xl66
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-weight:700;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;}
.xl67
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-weight:700;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#EAEAEA;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	color:windowtext;
	font-size:12.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#EAEAEA;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#FFB261;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#19B457;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#EAEAEA;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:lime;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-weight:700;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl74
	{mso-style-parent:style0;
	color:windowtext;
	font-size:12.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl75
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl76
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:yellow;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#FFE6C2;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.xl79
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-weight:700;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;}
.xl80
	{mso-style-parent:style0;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;}
.xl81
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-weight:700;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	color:windowtext;
	font-size:15.0pt;
	font-weight:700;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
